/* General information

    - #e67e22 (Navbar color)
    - #ecf0f1 (Body color)
    - font-family: 'Questrial', sans-serif;  (Navbar font)

*/

.addsubTitle {
    margin-top: 50px;
}

.formaddsub {
    margin-top: 30px;
    width: 450px;
    margin-bottom: 20px;
}

.addsubscriber {
    font-family: 'Questrial', sans-serif;
    background-color: #c0392b !important;
    margin-top: 10px;
}