{% extends "layout.html" %}

{% block title %}

Dashboard

{% endblock %}

{% block body %}
<h3 class="animated rubberBand display-4 text-center">Subscribtions administration</h3>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="cards">
            <p>{{ totalSubscribers }}</p>
            <p>Total Members</p>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="cards">
            <p>{{ activeSubs }}</p>
            <p>Active Subscribtions</p>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="cards">
            <p>{{ expiredSubs }}</p>
            <p>Expired Subscription</p>
        </div>
    </div>
</div>

<div class="btn links">
    <a href="{{ url_for('newsubscription') }}">New subscriber</a>
</div>
<div class="btn links">
    <a href="{{ url_for('existingsubscriber') }}">Existing subscriber</a>
</div>
<div class="btn links">
    <a href="{{ url_for('checksubscription') }}">Check subscription</a>
</div>


{% endblock %}
